.movieCard {
  max-width: 200px;

  > .poster {
    img {
      border-radius: 10px;
    }
    cursor: pointer;
  }
  > .info {
    display: flex;
    justify-content: space-between;
    > .title {
      flex: 0 1 75%;
      cursor: pointer;
    }
  }
}
